<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>LOGIN</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="form1">
        <h3>Login Here</h3>
    
        <label for="username1">Username</label>
        <input type="text" placeholder="Email or Username" id="username1" name="username">
    
        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="mdp">
    
        <button>Log In</button>
        <div class="links">
            <a href="#">Forgot Password</a>
            <a href="#" id="toggleLink" onclick="toggleForms()">Signup</a>
        </div>
    </form>
    <form id="form2" action="" style="display: none;">
        <h3>Register Here</h3>
    
        <label for="username2">Email</label>
        <input type="text" placeholder="Email " id="username2" name="email">

        <label for="Email">Username</label>
        <input type="email" placeholder="Username" id="username2" name="username">
    
        <label for="password2">Password</label>
        <input type="password" placeholder="Password" id="password2" name="mdp1">

        <label for="password2">Confirmation</label>
        <input type="password" placeholder="Confirmation" id="password2" name="mdp2">
        <button>Register</button>
        <div class="links">
            <a href="#" id="toggleLink" onclick="toggleForms()">Login</a>
        </div>
    </form>
    <script src="/static/script.js"></script>
</body>
</html>